
version: '3.9'
services:
  backend:
    container_name: todolist-be
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    env_file:
      - backend/.env
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: todolist-db
    environment:
      - POSTGRES_USER=kaito
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=todolist
    ports:
      - '5433:5432'

  frontend:
    container_name: todolist-fe
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    env_file:
      - frontend/.env